@import url('https://fonts.googleapis.com/css2?family=Fanwood+Text:ital@0;1&family=Quattrocento:wght@400;700&family=Sail&display=swap&family=Dancing+Script:wght@400;700&display=swap');

$title-font:'Sail', cursive;
$font1: 'Quattrocento', serif;
$font2: 'Fanwood Text', serif;
$blue: rgb(237, 250, 250);
$pink: rgb(251, 222, 221);



* {
    margin :0;
    padding: 0;
    box-sizing: border-box;
}
html{
    overflow-x: hidden;
    font-size: 1em;
}
body{
    overflow-x: hidden;
}

.js-loading *,
.js-loading *:before,
.js-loading *:after {
  animation-play-state: paused !important;
}

section{
    height: 100vh;
    width: 92%;
    margin:auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.first-section{
    height: 100vh;
    opacity: 0.7;
    display: flex;
    justify-content: center;
    background-attachment: fixed;
    background-image: url("../images/background.png");
}

.disable-scroll {
    overflow: hidden;
}


@keyframes animatecadre{
    0%{
        transform: rotate(10deg) scale(0.8);
        opacity: 0;
        }
    100%{
        transform: rotate(0deg) scale(1);
        opacity: 1;
        }
}
@keyframes animateA{
    0%{
        transform: translateX(-10%);
        opacity: 0;
        }
    100%{
        transform: translateX(0);
        opacity: 1;
        }
}
@keyframes animateB{
    0%{
        opacity: 0;
        }
    100%{
        opacity: 1;
        }
}
@keyframes animateC{
    0%{
        transform: translateX(10%);
        opacity: 0;
        }
    100%{
        transform: translateX(0);
        opacity: 1;
        }
}

svg{
    height: 100%;
    z-index: -2;
    width:60%;
}

#group{
    opacity: 0;
    animation: animatecadre 1s linear 1s ;
}
#annaelle{
    opacity: 0;
    animation: animateA 0.5s linear 2s ;
}
#kévin{
    opacity: 0;
    z-index: 1000;
    animation: animateC 0.5s linear 2s ;
    position: absolute;
}
#et{
    opacity: 0;
    animation: animateB 0.5s linear 2s ;
}

.js-loading {
  animation-play-state: paused !important;
}

.title{
    font-family: $title-font;
    font-weight: normal;
    font-size: 10vh;
}

.second-section{
    min-height: 110vh;
    height:fit-content;
    background-color: white;
    padding:10vw 10vh;
    display: flex;
    gap: 5rem;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    .info{
        display: flex;
        justify-content: space-around;
        height: max-content;
        gap: 1rem;
        .description{
            width:25vw;
            display: flex;
            flex-direction: column;
            justify-content: center;
            h2{
                font-family: 'Dancing Script', cursive;
                padding:0.5rem 0;
                font-weight: 700;
            }
            p{
                font-family: 'Dancing Script', cursive;
                font-weight: 400;
            }
        }
             
    }
   .blue{
        img{
            width:20%;
            min-width:15rem;
            box-shadow: $blue -25px -25px, rgba(0, 0, 0, 0.25) 3px 3px 3px;
        }  
        h2{
            color: #a0b3b3;
            text-shadow:  3px 3px 3px rgba(0, 0, 0, 0.25);
        }
   } 
   .pink{
        img{
            width:30%;
            margin-left: -5%;
            min-width:16rem;
            box-shadow: $pink 25px -25px, rgba(0, 0, 0, 0.25) -3px 3px 3px;
        }  
        h2{
            color: #b99796;
            text-shadow:  3px 3px 3px rgba(0, 0, 0, 0.25);
        }
        p{
            font-size:1.2rem;
            text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25);
            color: #c89f9f;
        }
   } 
}

.third-section{
    width: 100%;
    height: 110vh;
    min-height: 500px;
    position: relative;
    .third-background{
        width: 100%;
        height: 70vh;
        background-image: url("../images/pastelbackground.jpg");
        position: relative;
        h1{
            position: absolute;
            top:15%;
            left:50%;
            transform: translate(-50%,-50%);
            color: rgba(124, 124, 122, 1);
            font-size: 2rem;
            font-family: $font1;
            letter-spacing: 2px;
            white-space: nowrap;
        }
        a{
            position:absolute;
            top:70%;
            font-size:3.5rem;
            color: rgba(124, 124, 122, 1);
            opacity:0.5;
            cursor:pointer;
            transition-property: transform, opacity !important;
            text-align: center;
        }
        a:hover{
            opacity: 1;
        }
        a:active{
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }

        .next{
            right:10%;
        }
        .next:hover{
            font-size: 4rem;
        }
        .prev{
            left:10%;
        }
        .prev:hover{
            font-size: 4rem;
        }
        .slider{
            width: 65%;
            height:100%;
            min-height: 350px;
            background-color: white;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 12px;
            display: flex;
            position: absolute;
            top:30%;
            left:17.5%;
            .slide-label{
                position: absolute;
                text-align: center;
                font-size: 1.8rem;
                top:5%;
                right: -17px;
                padding: 0.5rem 1rem 0.3rem;
                color: rgba(124, 124, 122, 1);
                letter-spacing: 1px;
                background-color: #f1faf9;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                transition: background-color .2s ease-in-out;
                &::after{
                    content: '';
                    display: block;
                    width: 0; 
                    height: 0; 
                    position: absolute;
                    right: 0;
                    bottom: -15px;
                    border-left: 0px solid transparent;
                    border-right: 17px solid transparent;
                    
                    border-top: 15px solid rgba(0, 0, 0, 0.25);
                }
            }
            .slide-image{
                height:75%;
                width:45%;
                position:relative;
                margin:3.5rem 3rem;
                overflow: hidden;
                border-radius: 12px;
                opacity: 1;
                transition: opacity .8s ease-in-out;
                img {
                    position:absolute;
                    width:100%;
                    height:100%;
                    margin:auto;
                    object-fit: contain;
                    transition: opacity .8s ease-in-out, transform 1.5s ease-in-out .5s, filter .5s ease-in-out .5s;
                    opacity:0;
                    transform: scale(3);
                    filter: blur(1px);
                }    
                img.opaque {
                    opacity:1;
                    filter: blur(0px);    
                }
                [data-place='mairie'].opaque{
                    transform: translateY(25%) scale(1.7);
                }
                [data-place='eglise']{
                    transform: scale(3) translate(30%,-20%);
                    transition: opacity .8s ease-in-out, transform 2.5s ease-in-out .5s, filter 1.5s ease-in-out .5s;
                    filter: blur(0.3px);
                }
                [data-place='eglise'].opaque{
                    transform: scale(1.5) translate(0%,0%);
                }
                [data-place='salle']{
                    transform: scale(3) translateX(15%);
                    transition: opacity .8s ease-in-out, transform 4s ease-in-out .5s;
                    filter: blur(0px);
                }
                [data-place='salle'].opaque{
                    transform: scale(1.5) translateX(-10%);
                }
            }
            .slide-hide{
                opacity: 0;
            }
            .slide-info{
                padding:1rem 1rem 1rem 0;
                width: 50%;
                height: 100%;
                display: flex;
                flex-direction: column-reverse;
                position: relative;
                .steps{
                    position:absolute;
                    top:25%;
                    left:-10%;
                    opacity:0;
                    transition: opacity 1s ease-in-out;
                    text-align: center;
                    width: 100%;
                    p{
                        font-family: $font1; 
                        margin: 1rem 0;
                        i{
                          font-size: 2.7rem; 
                          text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5); 
                        }
                    }
                    span{
                        font-size: 1.2rem;
                        font-weight: 400;
                        display: none;
                        color: rgba(124, 124, 122, 1);
                    }

                    .active{
                        display: inline-block;
                        animation: active .8s ease-out 0s forwards;
                    }
                    @keyframes active {
                        0%{
                            opacity:0;
                            transform: translateX(20px);
                        }
                        50%{
                            opacity: 0.2;
                        }
                        100%{
                            transform: translateX(0);
                            opacity:1
                        } 
                    }
                }
                .map-container{
                    position:absolute;
                    top:21%;
                    height:50%;
                    width: 80%;
                    opacity: 0;
                    margin:1rem;
                    transition: opacity 1s ease-in-out;
                    .activeMap{
                        height: 100%;
                        width: 100%;
                        border-radius: 10px;
                        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                    }
                }
                .info-reveal{
                    opacity: 1;
                }
                .info-btn{
                    display: flex;
                    align-self: flex-end;
                    margin: 2vh 1vh;
                    z-index: 2;
                    .show{
                        padding:.1rem;
                        margin:0 .6rem ;
                        width:2.5rem;
                        height: 2.5rem;
                        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                        border-radius: 8px;
                        display:flex;
                        justify-content: center;
                        align-items: center;
                        cursor: pointer;
                        transition: background-color .2s ease-in-out;
                        i{
                            font-size: 1.8rem;
                            color:rgba(124, 124, 122, 1);
                            pointer-events: none;
                        }
                    }
                }  
            }
        }
    }
    .dot-container{
        position: absolute;
        bottom: -10%;
        left: 50%;
        transform: translateX(-50%);

        .dot {
            cursor: pointer;
            height: 1rem;
            width: 1rem;
            margin: 0 2px;
            background-color: #bbb;
            border-radius: 50%;
            display: inline-block;
            transition: background-color 0.6s ease;
        }
        
        .dot:hover {
            background-color: #717171;
        }
    }   
}

.fourth-section{
    height: 100vh;
    min-height: 500px;
    background-color: white;
    opacity: 0.7;
    display: flex;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
    background-image: url("../images/Back.png");
    overflow-y: hidden;

    .registration{
        width:45%;
        height:fit-content;
        background-color: white;
        opacity: 0.85;
        padding:1.5rem 5%;
        display: flex;
        flex-direction: column;
        align-items: center;
        visibility: visible !important;

        h1{
            font-size: 1rem;
            width: 100%; 
            text-align: center; 
            border-bottom: 3px solid #000; 
            line-height: 0.1rem;
            margin: 3rem 0 1rem;
            &:first-of-type{
                margin-top: 1rem;
            }
            span { 
                background:#fff; 
                padding:0 10px; 
            }
        }
        
        .input-container{
            position: relative;
            padding: 30px 0 0;
            width:100%;
        }
        .name-section{
            display: flex;
            justify-content: space-between;
            width: 100%;
            .input-container{
                width: 40%;
            }
        }
        .presence-section{
            display: flex;
            width: 100%;
            .input-container{
                width: 25%;
                margin-right: 3rem;
                min-width: 5.5rem;
                input{
                    text-align: center;
                }
            }
        }
        label{
            font-family: $font1;
            font-weight: 700;
            align-self: flex-start;
            font-size: 1rem;
            position: absolute;
            top: 15px;
            display: block;
            transition: 0.2s;
            color:darkgray;
        }
        input, textarea{
            width: 100%;
            height: 2rem;
            font-family: $font1;
            font-weight: 300;
            font-size:.8rem;
            padding:.5rem 0;
            border: 0;
            border-bottom: 2px solid darkgray;
            outline: none;
            opacity:0.8;
            background: transparent;
            transition: border-color 0.2s, height 0.2s;
            &::placeholder{
                color:transparent;
            }
            &:placeholder-shown ~ .label{
                font-size: 1rem;
                cursor: text;
                top: 30px;
            }
        }
        textarea{
            height: 2.5rem;
        }
        textarea:focus{
            height: 4rem;
        }
        input:focus, textarea:focus{
            ~ .label {
              position: absolute;
              top: 15px;
              display: block;
              transition: 0.2s;
              font-size: 1rem;
              color: black;
              font-weight:700;    
            }
            font-weight: 700;
            border-width: 3px;
            border-image: linear-gradient(to right, rgba(0,0,255,0.25),rgba(255,0,0,0.25));
            border-image-slice: 1;
          }

        .btn{
            padding: .5rem 2rem;
            font-size: 1.5rem;
            cursor: pointer;
            position: relative;
            border: 3px solid $pink;
            outline: none;
            color: $pink;
            background-color: rgb(255, 255, 255);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
            margin: 1.8rem 2rem 1.5rem;
            font-family: $font1;
            font-weight: 700;
            white-space: nowrap;
            transition: border-color 0.5s ease, color 0.5s ease;
            &--future {
                &::after, &::before {
                    content: "";
                    position: absolute;
                    border: 3px solid $pink;
                    width: calc(100% + 15px);
                    height: 60px;
                    transition: 0.5s ease;
                }
                &::after {
                    top: -15px;
                    left: -15px;
                    border-right: none;
                    border-bottom: none;
                }
                &::before {
                    bottom: -15px;
                    right: -15px;
                    border-left: none;
                    border-top: none;
                }
                &:hover:after, &:hover:before {
                    width: calc(100% - 30px);
                    height: 80px;
                    border-color: rgb(252, 202, 202);
                }
                &:hover{
                    color:rgb(252, 202, 202);
                }
            }
        }
    }
    .registration-hide{
        animation: scale-down 2s forwards
    }
    @keyframes scale-down {
        from{
            transform: scaleY(100%) scaleX(100%);
            opacity: 0.85;
        }
        to{
            transform: scaleY(0%) scaleX(0%);
            opacity: 0;
        }
    }
    .confirmation{
        width:50%;
        min-width: 300px;
        height:70%;
        background-color: white;
        padding:1.5rem 5%;
        display: none;
        transform: scaleX(0%) scaleY(0%);
        position: relative;
        font-family: 'Dancing Script', cursive;
        img{
            width:100%;
            height: 100%;
            position: absolute;
            top:50%;
            left:50%;
            transform: translate(-50%,-50%);
        }
        .confirmation-text{
            width:70%;
            height:60%;
            display:flex;
            justify-content: center;
            flex-direction: column;
            position: absolute;
            top:50%;
            left:50%;
            transform: translate(-50%,-55%);
            font-weight: lighter;
            text-align: center;
            h1{
                font-size: 1.5rem;
                color: #b99796;
                text-shadow:  3px 3px 3px rgba(0, 0, 0, 0.25);
                margin:1rem;
            }
            h2{
                margin:1rem;
                font-size:1.2rem;
                color: #a0b3b3;
                text-shadow:  3px 3px 3px rgba(0, 0, 0, 0.25);
            }
        }

    }
    @keyframes scale-up {
        from{
            transform: scaleY(0%) scaleX(0%);
            opacity: 0; 
        }
        to{
            transform: scaleY(100%) scaleX(100%);
            opacity: 0.95;
        }
    }
    
}

[aos="fade"] {
    opacity: 0;
    transition-property: opacity;
}

[aos="fade"].aos-animate {
    opacity: 0.85;
}

@media (max-width:950px){
    .first-section{
        svg{
            width:70%;
        }
    }
    .fourth-section{
        .registration{
            width: 70%;
        
            .btn{
                font-size: 1rem;
                padding: .5rem 1rem;
            }
        }
    }
}
@media (max-width:700px) {
    .first-section{
        svg{
            width:100%;
        }
    }
    .second-section{
        padding: 15vh 10vw;
        .info{
            flex-direction: column;
            align-items: center;
            .description{
                min-width:16rem;  
            }  
        }
        .pink{
            flex-direction: column-reverse;
        }
    }

    .third-section{
        .third-background{
            a{
                display: none;
            }
            h1{
                font-size: 1.7rem;
                top:20%
            }
            .slider{
                width:90%;
                height: 90%;
                left:5%;
                .slide-image{
                    height:70%;
                    width:80%;
                    position:absolute;
                    margin:30% 10%;
                    img {
                        position:absolute;
                        margin:auto;
                        object-fit: cover;
                        transition: opacity .8s ease-in-out, transform 1.5s ease-in-out .5s, filter .5s ease-in-out .5s;
                        opacity:0;
                        transform: scale(3);
                        filter: blur(1px);
                    } 
                    [data-place='mairie'].opaque{
                        transform: translateY(25%) scale(1.5);
                    }
                    [data-place='eglise']{
                        transform: scale(2) translate(20%,-20%);
                    }
                    [data-place='eglise'].opaque{
                        transform: scale(1) translate(0%,0%);
                    }
                    [data-place='salle']{
                        width:300%;
                        transform: scale(1) translateX(-20%);
                    }
                    [data-place='salle'].opaque{
                        transform: scale(1) translateX(-60%);
                    }
                }
                .slide-info{
                    padding: 0;
                    width: 100%;
                    .steps{
                        width: 50%;
                        left:25%;
                        top:35%;
                        background-color: rgba(0, 0, 0, 0.25);
                        border-radius: 10px;
                        span{
                           color: white; 
                        }
                    }
                    .info-btn{
                        position: absolute;
                        margin:0;
                        top:5%;
                        left:5%;
                    } 
                    .map-container{
                    height: 70%;
                    width: 80%;
                    top:0;
                    margin: 30% 10%;
                    }
                } 
            }
        }
    }

    .fourth-section{
        background-image: url("../images/Back50.png");
        .registration{
            width: 90%;
            padding:1.5rem 10%;
        }
        .confirmation{
            width: 100%;
            .confirmation-text{
                font-weight: lighter;
                h1{
                    font-size: 1.2rem;
                    margin: 0;
                }
                h2{
                    font-size: 1.2rem;
                }
            }
        }
    }
}

@media (min-width:1500px) {
    html{
        font-size: 1.8em;
    }
}

@media (min-width:3500px){
    html{
        font-size: 3em;
    }
}