@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Fanwood+Text:ital@0;1&family=Quattrocento:wght@400;700&family=Sail&display=swap&family=Dancing+Script:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
}

.js-loading *,
.js-loading *:before,
.js-loading *:after {
  -webkit-animation-play-state: paused !important;
          animation-play-state: paused !important;
}

section {
  height: 100vh;
  width: 92%;
  margin: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.first-section {
  height: 100vh;
  opacity: 0.7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-attachment: fixed;
  background-image: url("../images/background.png");
}

.disable-scroll {
  overflow: hidden;
}

@-webkit-keyframes animatecadre {
  0% {
    -webkit-transform: rotate(10deg) scale(0.8);
            transform: rotate(10deg) scale(0.8);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(0deg) scale(1);
            transform: rotate(0deg) scale(1);
    opacity: 1;
  }
}

@keyframes animatecadre {
  0% {
    -webkit-transform: rotate(10deg) scale(0.8);
            transform: rotate(10deg) scale(0.8);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(0deg) scale(1);
            transform: rotate(0deg) scale(1);
    opacity: 1;
  }
}

@-webkit-keyframes animateA {
  0% {
    -webkit-transform: translateX(-10%);
            transform: translateX(-10%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes animateA {
  0% {
    -webkit-transform: translateX(-10%);
            transform: translateX(-10%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes animateB {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes animateB {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes animateC {
  0% {
    -webkit-transform: translateX(10%);
            transform: translateX(10%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes animateC {
  0% {
    -webkit-transform: translateX(10%);
            transform: translateX(10%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

svg {
  height: 100%;
  z-index: -2;
  width: 60%;
}

#group {
  opacity: 0;
  -webkit-animation: animatecadre 1s linear 1s;
          animation: animatecadre 1s linear 1s;
}

#annaelle {
  opacity: 0;
  -webkit-animation: animateA 0.5s linear 2s;
          animation: animateA 0.5s linear 2s;
}

#kévin {
  opacity: 0;
  z-index: 1000;
  -webkit-animation: animateC 0.5s linear 2s;
          animation: animateC 0.5s linear 2s;
  position: absolute;
}

#et {
  opacity: 0;
  -webkit-animation: animateB 0.5s linear 2s;
          animation: animateB 0.5s linear 2s;
}

.js-loading {
  -webkit-animation-play-state: paused !important;
          animation-play-state: paused !important;
}

.title {
  font-family: "Sail", cursive;
  font-weight: normal;
  font-size: 10vh;
}

.second-section {
  min-height: 110vh;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: white;
  padding: 10vw 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.second-section .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  gap: 1em;
}

.second-section .info .description {
  width: 25vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.second-section .info .description h2 {
  font-family: 'Dancing Script', cursive;
  padding: 0.5em 0;
  font-weight: 700;
}

.second-section .info .description p {
  font-family: 'Dancing Script', cursive;
  font-weight: 400;
}

.second-section .blue img {
  width: 25%;
  min-width: 15em;
  -webkit-box-shadow: #edfafa -25px -25px, rgba(0, 0, 0, 0.25) 3px 3px 3px;
          box-shadow: #edfafa -25px -25px, rgba(0, 0, 0, 0.25) 3px 3px 3px;
}

.second-section .blue h2 {
  color: #a0b3b3;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25);
}

.second-section .pink img {
  width: 30%;
  margin-left: -5%;
  min-width: 16em;
  -webkit-box-shadow: #fbdedd 25px -25px, rgba(0, 0, 0, 0.25) -3px 3px 3px;
          box-shadow: #fbdedd 25px -25px, rgba(0, 0, 0, 0.25) -3px 3px 3px;
}

.second-section .pink h2 {
  color: #b99796;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25);
}

.second-section .pink p {
  font-size: 1.2em;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25);
  color: #c89f9f;
}

.third-section {
  width: 100%;
  height: 110vh;
  position: relative;
}

.third-section .third-background {
  width: 100%;
  height: 70vh;
  background-image: url("../images/pastelbackground.jpg");
  position: relative;
}

.third-section .third-background h1 {
  position: absolute;
  top: 15%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #7c7c7a;
  font-size: 2rem;
  font-family: "Quattrocento", serif;
  letter-spacing: 2px;
  white-space: nowrap;
}

.third-section .third-background a {
  position: absolute;
  top: 70%;
  font-size: 3.5rem;
  color: #7c7c7a;
  opacity: 0.5;
  cursor: pointer;
  -webkit-transition-property: opacity, -webkit-transform !important;
  transition-property: opacity, -webkit-transform !important;
  transition-property: transform, opacity !important;
  transition-property: transform, opacity, -webkit-transform !important;
  text-align: center;
}

.third-section .third-background a:hover {
  opacity: 1;
}

.third-section .third-background a:active {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.third-section .third-background .next {
  right: 10%;
}

.third-section .third-background .next:hover {
  font-size: 4rem;
}

.third-section .third-background .prev {
  left: 10%;
}

.third-section .third-background .prev:hover {
  font-size: 4rem;
}

.third-section .third-background .slider {
  width: 65%;
  height: 100%;
  background-color: white;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 30%;
  left: 17.5%;
}

.third-section .third-background .slider .slide-label {
  position: absolute;
  text-align: center;
  font-size: 1.8rem;
  top: 5%;
  right: -17px;
  width: 5.5em;
  height: 2em;
  line-height: 2.2em;
  color: #7c7c7a;
  letter-spacing: 1px;
  background-color: #f1faf9;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-transition: background-color .2s ease-in-out;
  transition: background-color .2s ease-in-out;
}

.third-section .third-background .slider .slide-label::after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  right: 0;
  bottom: -15px;
  border-left: 0px solid transparent;
  border-right: 17px solid transparent;
  border-top: 15px solid rgba(0, 0, 0, 0.25);
}

.third-section .third-background .slider .slide-image {
  height: 75%;
  width: 45%;
  position: relative;
  margin: 3.5em 3em;
  overflow: hidden;
  border-radius: 12px;
  opacity: 1;
  -webkit-transition: opacity .8s ease-in-out;
  transition: opacity .8s ease-in-out;
}

.third-section .third-background .slider .slide-image img {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: auto;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-transition: opacity .8s ease-in-out, -webkit-transform 1.5s ease-in-out .5s, -webkit-filter .5s ease-in-out .5s;
  transition: opacity .8s ease-in-out, -webkit-transform 1.5s ease-in-out .5s, -webkit-filter .5s ease-in-out .5s;
  transition: opacity .8s ease-in-out, transform 1.5s ease-in-out .5s, filter .5s ease-in-out .5s;
  transition: opacity .8s ease-in-out, transform 1.5s ease-in-out .5s, filter .5s ease-in-out .5s, -webkit-transform 1.5s ease-in-out .5s, -webkit-filter .5s ease-in-out .5s;
  opacity: 0;
  -webkit-transform: scale(3);
          transform: scale(3);
  -webkit-filter: blur(1px);
          filter: blur(1px);
}

.third-section .third-background .slider .slide-image img.opaque {
  opacity: 1;
  -webkit-filter: blur(0px);
          filter: blur(0px);
}

.third-section .third-background .slider .slide-image [data-place='mairie'].opaque {
  -webkit-transform: translateY(25%) scale(1.7);
          transform: translateY(25%) scale(1.7);
}

.third-section .third-background .slider .slide-image [data-place='eglise'] {
  -webkit-transform: scale(3) translate(30%, -20%);
          transform: scale(3) translate(30%, -20%);
  -webkit-transition: opacity .8s ease-in-out, -webkit-transform 2.5s ease-in-out .5s, -webkit-filter 1.5s ease-in-out .5s;
  transition: opacity .8s ease-in-out, -webkit-transform 2.5s ease-in-out .5s, -webkit-filter 1.5s ease-in-out .5s;
  transition: opacity .8s ease-in-out, transform 2.5s ease-in-out .5s, filter 1.5s ease-in-out .5s;
  transition: opacity .8s ease-in-out, transform 2.5s ease-in-out .5s, filter 1.5s ease-in-out .5s, -webkit-transform 2.5s ease-in-out .5s, -webkit-filter 1.5s ease-in-out .5s;
  -webkit-filter: blur(0.3px);
          filter: blur(0.3px);
}

.third-section .third-background .slider .slide-image [data-place='eglise'].opaque {
  -webkit-transform: scale(1.5) translate(0%, 0%);
          transform: scale(1.5) translate(0%, 0%);
}

.third-section .third-background .slider .slide-image [data-place='salle'] {
  -webkit-transform: scale(3) translateX(-30%);
          transform: scale(3) translateX(-30%);
  -webkit-transition: opacity .8s ease-in-out, -webkit-transform 4s ease-in-out .5s;
  transition: opacity .8s ease-in-out, -webkit-transform 4s ease-in-out .5s;
  transition: opacity .8s ease-in-out, transform 4s ease-in-out .5s;
  transition: opacity .8s ease-in-out, transform 4s ease-in-out .5s, -webkit-transform 4s ease-in-out .5s;
  -webkit-filter: blur(0px);
          filter: blur(0px);
}

.third-section .third-background .slider .slide-image [data-place='salle'].opaque {
  -webkit-transform: scale(1.5) translateX(15%);
          transform: scale(1.5) translateX(15%);
}

.third-section .third-background .slider .slide-hide {
  opacity: 0;
}

.third-section .third-background .slider .slide-info {
  padding: 1em 1em 1em 0;
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  position: relative;
}

.third-section .third-background .slider .slide-info .steps {
  position: absolute;
  top: 25%;
  left: -10%;
  opacity: 0;
  -webkit-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  text-align: center;
  width: 100%;
}

.third-section .third-background .slider .slide-info .steps p {
  font-family: "Quattrocento", serif;
  margin: 1em 0;
}

.third-section .third-background .slider .slide-info .steps p i {
  font-size: 2.7rem;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
}

.third-section .third-background .slider .slide-info .steps span {
  font-size: 1.2rem;
  font-weight: 400;
  display: none;
  color: #7c7c7a;
}

.third-section .third-background .slider .slide-info .steps .active {
  display: inline-block;
  -webkit-animation: active .8s ease-out 0s forwards;
          animation: active .8s ease-out 0s forwards;
}

@-webkit-keyframes active {
  0% {
    opacity: 0;
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
  }
  50% {
    opacity: 0.2;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes active {
  0% {
    opacity: 0;
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
  }
  50% {
    opacity: 0.2;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

.third-section .third-background .slider .slide-info .map-container {
  position: absolute;
  top: 21%;
  height: 50%;
  width: 80%;
  opacity: 0;
  margin: 1em;
  -webkit-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

.third-section .third-background .slider .slide-info .map-container .activeMap {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.third-section .third-background .slider .slide-info .info-reveal {
  opacity: 1;
}

.third-section .third-background .slider .slide-info .info-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin: 2.5em 1em;
  z-index: 2;
}

.third-section .third-background .slider .slide-info .info-btn .show {
  padding: .1em;
  margin: 0 .6em;
  width: 2.5em;
  height: 2.5em;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: background-color .2s ease-in-out;
  transition: background-color .2s ease-in-out;
}

.third-section .third-background .slider .slide-info .info-btn .show i {
  font-size: 30px;
  color: #7c7c7a;
  pointer-events: none;
}

.third-section .dot-container {
  position: absolute;
  bottom: -10%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.third-section .dot-container .dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  -webkit-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease;
}

.third-section .dot-container .dot:hover {
  background-color: #717171;
}

.fourth-section {
  height: 100vh;
  background-color: white;
  opacity: 0.7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-attachment: fixed;
  background-image: url("../images/Love.jpg");
  overflow-y: hidden;
}

.fourth-section .registration {
  width: 45%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: white;
  opacity: 0.85;
  padding: 1.5em 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  visibility: visible !important;
}

.fourth-section .registration h1 {
  font-size: 1rem;
  width: 100%;
  text-align: center;
  border-bottom: 3px solid #000;
  line-height: 0.1em;
  margin: 3em 0 1em;
}

.fourth-section .registration h1:first-of-type {
  margin-top: 1em;
}

.fourth-section .registration h1 span {
  background: #fff;
  padding: 0 10px;
}

.fourth-section .registration .input-container {
  position: relative;
  padding: 30px 0 0;
  width: 100%;
}

.fourth-section .registration .name-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.fourth-section .registration .name-section .input-container {
  width: 40%;
}

.fourth-section .registration .presence-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.fourth-section .registration .presence-section .input-container {
  width: 25%;
  margin-right: 3em;
  min-width: 5.5em;
}

.fourth-section .registration .presence-section .input-container input {
  text-align: center;
}

.fourth-section .registration label {
  font-family: "Quattrocento", serif;
  font-weight: 700;
  -ms-flex-item-align: start;
      align-self: flex-start;
  font-size: 1rem;
  position: absolute;
  top: 15px;
  display: block;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  color: darkgray;
}

.fourth-section .registration input, .fourth-section .registration textarea {
  width: 100%;
  height: 2em;
  font-family: "Quattrocento", serif;
  font-weight: 300;
  font-size: .8rem;
  padding: 7px 0;
  border: 0;
  border-bottom: 2px solid darkgray;
  outline: none;
  opacity: 0.8;
  background: transparent;
  -webkit-transition: border-color 0.2s, height 0.2s;
  transition: border-color 0.2s, height 0.2s;
}

.fourth-section .registration input::-webkit-input-placeholder, .fourth-section .registration textarea::-webkit-input-placeholder {
  color: transparent;
}

.fourth-section .registration input:-ms-input-placeholder, .fourth-section .registration textarea:-ms-input-placeholder {
  color: transparent;
}

.fourth-section .registration input::-ms-input-placeholder, .fourth-section .registration textarea::-ms-input-placeholder {
  color: transparent;
}

.fourth-section .registration input::placeholder, .fourth-section .registration textarea::placeholder {
  color: transparent;
}

.fourth-section .registration input:placeholder-shown ~ .label, .fourth-section .registration textarea:placeholder-shown ~ .label {
  font-size: 1rem;
  cursor: text;
  top: 30px;
}

.fourth-section .registration textarea {
  height: 2.5em;
}

.fourth-section .registration textarea:focus {
  height: 4em;
}

.fourth-section .registration input:focus, .fourth-section .registration textarea:focus {
  font-weight: 700;
  border-width: 3px;
  -o-border-image: linear-gradient(to right, rgba(0, 0, 255, 0.25), rgba(255, 0, 0, 0.25));
     border-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 255, 0.25)), to(rgba(255, 0, 0, 0.25)));
     border-image: linear-gradient(to right, rgba(0, 0, 255, 0.25), rgba(255, 0, 0, 0.25));
  border-image-slice: 1;
}

.fourth-section .registration input:focus ~ .label, .fourth-section .registration textarea:focus ~ .label {
  position: absolute;
  top: 15px;
  display: block;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  font-size: 1rem;
  color: black;
  font-weight: 700;
}

.fourth-section .registration .btn {
  padding: .5em 2em;
  font-size: 1.5rem;
  cursor: pointer;
  position: relative;
  border: 3px solid #fbdedd;
  outline: none;
  color: #fbdedd;
  background-color: white;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
  margin: 1.8em 2em 1.5em;
  font-family: "Quattrocento", serif;
  font-weight: 700;
  white-space: nowrap;
  -webkit-transition: border-color 0.5s ease, color 0.5s ease;
  transition: border-color 0.5s ease, color 0.5s ease;
}

.fourth-section .registration .btn--future::after, .fourth-section .registration .btn--future::before {
  content: "";
  position: absolute;
  border: 3px solid #fbdedd;
  width: calc(100% + 15px);
  height: 60px;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.fourth-section .registration .btn--future::after {
  top: -15px;
  left: -15px;
  border-right: none;
  border-bottom: none;
}

.fourth-section .registration .btn--future::before {
  bottom: -15px;
  right: -15px;
  border-left: none;
  border-top: none;
}

.fourth-section .registration .btn--future:hover:after, .fourth-section .registration .btn--future:hover:before {
  width: calc(100% - 30px);
  height: 80px;
  border-color: #fccaca;
}

.fourth-section .registration .btn--future:hover {
  color: #fccaca;
}

.fourth-section .registration-hide {
  -webkit-animation: scale-down 2s forwards;
          animation: scale-down 2s forwards;
}

@-webkit-keyframes scale-down {
  from {
    -webkit-transform: scaleY(100%) scaleX(100%);
            transform: scaleY(100%) scaleX(100%);
    opacity: 0.85;
  }
  to {
    -webkit-transform: scaleY(0%) scaleX(0%);
            transform: scaleY(0%) scaleX(0%);
    opacity: 0;
  }
}

@keyframes scale-down {
  from {
    -webkit-transform: scaleY(100%) scaleX(100%);
            transform: scaleY(100%) scaleX(100%);
    opacity: 0.85;
  }
  to {
    -webkit-transform: scaleY(0%) scaleX(0%);
            transform: scaleY(0%) scaleX(0%);
    opacity: 0;
  }
}

.fourth-section .confirmation {
  width: 50%;
  min-width: 300px;
  height: 70%;
  background-color: white;
  padding: 1.5em 5%;
  display: none;
  -webkit-transform: scaleX(0%) scaleY(0%);
          transform: scaleX(0%) scaleY(0%);
  position: relative;
  font-family: 'Dancing Script', cursive;
}

.fourth-section .confirmation img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.fourth-section .confirmation .confirmation-text {
  width: 70%;
  height: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -55%);
          transform: translate(-50%, -55%);
  font-weight: lighter;
  text-align: center;
}

.fourth-section .confirmation .confirmation-text h1 {
  font-size: 1.5rem;
  color: #b99796;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25);
  margin: 1em;
}

.fourth-section .confirmation .confirmation-text h2 {
  margin: 1em;
  font-size: 1.2rem;
  color: #a0b3b3;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25);
}

@-webkit-keyframes scale-up {
  from {
    -webkit-transform: scaleY(0%) scaleX(0%);
            transform: scaleY(0%) scaleX(0%);
    opacity: 0;
  }
  to {
    -webkit-transform: scaleY(100%) scaleX(100%);
            transform: scaleY(100%) scaleX(100%);
    opacity: 0.95;
  }
}

@keyframes scale-up {
  from {
    -webkit-transform: scaleY(0%) scaleX(0%);
            transform: scaleY(0%) scaleX(0%);
    opacity: 0;
  }
  to {
    -webkit-transform: scaleY(100%) scaleX(100%);
            transform: scaleY(100%) scaleX(100%);
    opacity: 0.95;
  }
}

[aos="fade"] {
  opacity: 0;
  -webkit-transition-property: opacity;
  transition-property: opacity;
}

[aos="fade"].aos-animate {
  opacity: 0.85;
}

@media (max-width: 950px) {
  .first-section svg {
    width: 70%;
  }
  .fourth-section .registration {
    width: 70%;
  }
  .fourth-section .registration .btn {
    font-size: 1rem;
    padding: .5em 1em;
  }
}

@media (max-width: 700px) {
  .first-section svg {
    width: 100%;
  }
  .second-section {
    padding: 15vh 10vw;
  }
  .second-section .info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .second-section .info .description {
    min-width: 16em;
  }
  .second-section .pink {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .third-section .third-background a {
    display: none;
  }
  .third-section .third-background h1 {
    font-size: 1.7rem;
    top: 20%;
  }
  .third-section .third-background .slider {
    width: 90%;
    height: 90%;
    left: 5%;
  }
  .third-section .third-background .slider .slide-image {
    height: 70%;
    width: 80%;
    position: absolute;
    margin: 30% 10%;
  }
  .third-section .third-background .slider .slide-image img {
    position: absolute;
    margin: auto;
    -o-object-fit: cover;
       object-fit: cover;
    -webkit-transition: opacity .8s ease-in-out, -webkit-transform 1.5s ease-in-out .5s, -webkit-filter .5s ease-in-out .5s;
    transition: opacity .8s ease-in-out, -webkit-transform 1.5s ease-in-out .5s, -webkit-filter .5s ease-in-out .5s;
    transition: opacity .8s ease-in-out, transform 1.5s ease-in-out .5s, filter .5s ease-in-out .5s;
    transition: opacity .8s ease-in-out, transform 1.5s ease-in-out .5s, filter .5s ease-in-out .5s, -webkit-transform 1.5s ease-in-out .5s, -webkit-filter .5s ease-in-out .5s;
    opacity: 0;
    -webkit-transform: scale(3);
            transform: scale(3);
    -webkit-filter: blur(1px);
            filter: blur(1px);
  }
  .third-section .third-background .slider .slide-image [data-place='mairie'].opaque {
    -webkit-transform: translateY(25%) scale(1.5);
            transform: translateY(25%) scale(1.5);
  }
  .third-section .third-background .slider .slide-image [data-place='eglise'] {
    -webkit-transform: scale(2) translate(20%, -20%);
            transform: scale(2) translate(20%, -20%);
  }
  .third-section .third-background .slider .slide-image [data-place='eglise'].opaque {
    -webkit-transform: scale(1) translate(0%, 0%);
            transform: scale(1) translate(0%, 0%);
  }
  .third-section .third-background .slider .slide-image [data-place='salle'] {
    width: 300%;
    -webkit-transform: scale(1) translateX(-20%);
            transform: scale(1) translateX(-20%);
  }
  .third-section .third-background .slider .slide-image [data-place='salle'].opaque {
    -webkit-transform: scale(1) translateX(0%);
            transform: scale(1) translateX(0%);
  }
  .third-section .third-background .slider .slide-info {
    padding: 0;
    width: 100%;
  }
  .third-section .third-background .slider .slide-info .steps {
    width: 50%;
    left: 25%;
    top: 35%;
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 10px;
  }
  .third-section .third-background .slider .slide-info .steps span {
    color: white;
  }
  .third-section .third-background .slider .slide-info .info-btn {
    position: absolute;
    margin: 0;
    top: 5%;
    left: 5%;
  }
  .third-section .third-background .slider .slide-info .map-container {
    height: 70%;
    width: 80%;
    top: 0;
    margin: 30% 10%;
  }
  .fourth-section {
    background-image: url("../images/Love 45.jpg");
  }
  .fourth-section .registration {
    width: 90%;
    padding: 1.5em 10%;
  }
  .fourth-section .confirmation {
    width: 100%;
  }
  .fourth-section .confirmation .confirmation-text {
    font-weight: lighter;
  }
  .fourth-section .confirmation .confirmation-text h1 {
    font-size: 1.2rem;
    margin: 0;
  }
  .fourth-section .confirmation .confirmation-text h2 {
    font-size: 1.2rem;
  }
}
/*# sourceMappingURL=main.css.map */