@import url('https://fonts.googleapis.com/css2?family=Fanwood+Text:ital@0;1&family=Quattrocento:wght@400;700&family=Sail&display=swap');

$title-font:'Sail', cursive;
$font1: 'Quattrocento', serif;
$font2: 'Fanwood Text', serif;

* {
    margin :0;
    padding: 0;
    box-sizing: border-box;
}
.background{
    width: 100%;
    min-height: 100vh;
    position: fixed;
    z-index: -2;
    object-fit: cover;
}

section{
    height: 100vh;
    width: 92%;
    margin:auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.first-section{
    height: 100vh;
    opacity: 0.7;
    display: flex;
    justify-content: center;
    background-attachment: fixed;
    background-image: url("../images/background.png");
}

@keyframes animatecadre{
    0%{
        transform: rotate(10deg) scale(0.8);
        opacity: 0;
        }
    100%{
        transform: rotate(0deg) scale(1);
        opacity: 1;
        }
}
@keyframes animateA{
    0%{
        transform: translateX(-10%);
        opacity: 0;
        }
    100%{
        transform: translateX(0);
        opacity: 1;
        }
}
@keyframes animateB{
    0%{
        opacity: 0;
        }
    100%{
        opacity: 1;
        }
}
@keyframes animateC{
    0%{
        transform: translateX(10%);
        opacity: 0;
        }
    100%{
        transform: translateX(0);
        opacity: 1;
        }
}

svg{
    height: 100%;
    z-index: -2;
}

#frame{
    opacity: 0;
    animation: animatecadre 1s 1s linear forwards;
}
#annaelle{
    opacity: 0;
    animation: animateA 0.5s 2s linear forwards;
}
#kévin{
    opacity: 0;
    animation: animateC 0.5s 2s linear forwards;
}
#et{
    opacity: 0;
    animation: animateB 0.5s 2s linear forwards;
}

.title{
    font-family: $title-font;
    font-weight: normal;
    font-size: 10vh;
}
.a{
    color: rgb(241, 160, 198);
    position: absolute;
    margin: auto;
    left: -25%;
    right: 0;
    text-align: center;
    top: 40%;
}

.second-section{
    height: 110vh;
    background-color: white;
    padding:10vw 10vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .info{
        display: flex;
        justify-content: space-around;
        height: max-content;
        .description{
            width:30%;
            display: flex;
            flex-direction: column;
            h2{
                font-family: $font1;
                padding:0.5em 0;
            }
            p{
                font-family: $font2;
            }
        }
        img{
            width:30%;
            box-shadow: rgba(90, 178, 179, 0.49) -15px -15px;
        }      
    }
   .blue{
        img{
            width:25%;
            box-shadow: rgba(90, 178, 179, 0.49) -15px -15px, rgba(0, 0, 0, 0.25) 3px 3px 3px;
        }  
   } 
   .pink{
        img{
            margin-left: -5%;
            width:30%;
            box-shadow: rgba(247, 170, 206, 0.4) 15px -15px, rgba(0, 0, 0, 0.25) -3px 3px 3px;
        }  
   } 
}

.third-section{
    height: 100vh;
    background-color: white;
    opacity: 0.7;
    display: flex;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
    background-image: url("../images/Love.jpg");

    .registration{
        width:45%;
        height:80%;
        background-color: white;
        opacity: 0.85;
        padding:1.5em 5%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .input-container{
            position: relative;
            padding: 30px 0 0;
            width:100%;
        }
        label{
            font-family: $font1;
            font-weight: 700;
            align-self: flex-start;
            font-size: 1rem;
            position: absolute;
            top: 15px;
            display: block;
            transition: 0.2s;
            color:darkgray;
        }
        input{
            width: 100%;
            height: 2.5em;
            font-family: $font2;
            font-weight: 300;
            font-size:1rem;
            padding:7px 0;
            border: 0;
            border-bottom: 2px solid darkgray;
            outline: none;
            opacity:0.8;
            background: transparent;
            transition: border-color 0.2s;
            &::placeholder{
                color:transparent;
            }
            &:placeholder-shown ~ .label{
                font-size: 1.3rem;
                cursor: text;
                top: 30px;
            }
        }
        input:focus {
            ~ .label {
              position: absolute;
              top: 15px;
              display: block;
              transition: 0.2s;
              font-size: 1rem;
              color: black;
              font-weight:700;    
            }
            font-weight: 700;
            border-width: 3px;
            border-image: linear-gradient(to right, rgba(0,0,255,0.25),rgba(255,0,0,0.25));
            border-image-slice: 1;
          }
    }
}

[aos="fade"] {
    opacity: 0;
    transition-property: opacity;
}

[aos="fade"].aos-animate {
    opacity: 0.85;
}