@import url('https://fonts.googleapis.com/css2?family=Fanwood+Text:ital@0;1&family=Quattrocento:wght@400;700&family=Sail&display=swap');

$title-font:'Sail', cursive;
$font1: 'Quattrocento', serif;
$font2: 'Fanwood Text', serif;


* {
    margin :0;
    padding: 0;
    box-sizing: border-box;
}

section{
    height: 100vh;
    width: 92%;
    margin:auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.first-section{
    height: 100vh;
    opacity: 0.7;
    display: flex;
    justify-content: center;
    background-attachment: fixed;
    background-image: url("../images/background.png");
}

@keyframes animatecadre{
    0%{
        transform: rotate(10deg) scale(0.8);
        opacity: 0;
        }
    100%{
        transform: rotate(0deg) scale(1);
        opacity: 1;
        }
}
@keyframes animateA{
    0%{
        transform: translateX(-10%);
        opacity: 0;
        }
    100%{
        transform: translateX(0);
        opacity: 1;
        }
}
@keyframes animateB{
    0%{
        opacity: 0;
        }
    100%{
        opacity: 1;
        }
}
@keyframes animateC{
    0%{
        transform: translateX(10%);
        opacity: 0;
        }
    100%{
        transform: translateX(0);
        opacity: 1;
        }
}

svg{
    height: 100%;
    z-index: -2;
}

#frame{
    opacity: 0;
    animation: animatecadre 1s 1s linear none;
}
#annaelle{
    opacity: 0;
    animation: animateA 0.5s 2s linear none;
}
#kévin{
    opacity: 0;
    animation: animateC 0.5s 2s linear none;
}
#et{
    opacity: 0;
    animation: animateB 0.5s 2s linear none;
}

.title{
    font-family: $title-font;
    font-weight: normal;
    font-size: 10vh;
}
.a{
    color: rgb(241, 160, 198);
    position: absolute;
    margin: auto;
    left: -25%;
    right: 0;
    text-align: center;
    top: 40%;
}

.second-section{
    height: 110vh;
    background-color: white;
    padding:10vw 10vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .info{
        display: flex;
        justify-content: space-around;
        height: max-content;
        .description{
            width:30%;
            display: flex;
            flex-direction: column;
            h2{
                font-family: $font1;
                padding:0.5em 0;
            }
            p{
                font-family: $font2;
            }
        }
        img{
            width:30%;
            box-shadow: rgba(90, 178, 179, 0.49) -15px -15px;
        }      
    }
   .blue{
        img{
            width:25%;
            box-shadow: rgba(90, 178, 179, 0.49) -15px -15px, rgba(0, 0, 0, 0.25) 3px 3px 3px;
        }  
   } 
   .pink{
        img{
            margin-left: -5%;
            width:30%;
            box-shadow: rgba(247, 170, 206, 0.4) 15px -15px, rgba(0, 0, 0, 0.25) -3px 3px 3px;
        }  
   } 
}

.third-section{
    width: 100%;
    height: 110vh;
    position: relative;
    .third-background{
        width: 100%;
        height: 70vh;
        background-image: url("../images/pastelbackground.jpg");
        position: relative;
        h1{
            position: absolute;
            top:15%;
            left:50%;
            transform: translate(-50%,-50%);
            color: rgba(124, 124, 122, 1);
            font-size: 2rem;
            font-family: $font1;
            letter-spacing: 2px;
        }
        a{
            position:absolute;
            top:70%;
            font-size:3.5rem;
            color: rgba(124, 124, 122, 1);
            opacity:0.5;
            cursor:pointer;
            transition-property: transform, opacity !important;
            text-align: center;
        }
        a:hover{
            opacity: 1;
        }
        a:active{
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }

        .next{
            right:10%;
        }
        .next:hover{
            font-size: 4rem;
        }
        .prev{
            left:10%;
        }
        .prev:hover{
            font-size: 4rem;
        }
        .slider{
            width: 65%;
            height:100%;
            background-color: white;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 12px;
            display: flex;
            position: absolute;
            top:30%;
            left:17.5%;
            .slide-label{
                position: absolute;
                text-align: center;
                font-size: 1.8rem;
                top:5%;
                right: -17px;
                width: 5.5em;
                height: 2em;
                line-height: 2.2em;
                color: rgba(124, 124, 122, 1);
                letter-spacing: 1px;
                background-color: #f1faf9;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                transition: background-color .2s ease-in-out;
                &::after{
                    content: '';
                    display: block;
                    width: 0; 
                    height: 0; 
                    position: absolute;
                    right: 0;
                    bottom: -15px;
                    border-left: 0px solid transparent;
                    border-right: 17px solid transparent;
                    
                    border-top: 15px solid rgba(0, 0, 0, 0.25);
                }
            }
            .slide-image{
                height:75%;
                width:45%;
                position:relative;
                margin:3.5em 3em;
                overflow: hidden;
                border-radius: 12px;
                img {
                    position:absolute;
                    width:100%;
                    height:100%;
                    margin:auto;
                    object-fit: contain;
                    transition: opacity .8s ease-in-out, transform 1.5s ease-in-out .5s, filter .5s ease-in-out .5s;
                    opacity:0;
                    transform: scale(3);
                    filter: blur(1px);
                }    
                img.opaque {
                    opacity:1;
                    filter: blur(0px);    
                }
                [data-place='mairie'].opaque{
                    transform: translateY(25%) scale(1.7);
                }
                [data-place='eglise'].opaque{
                    transform: scale(1.5);
                }
                [data-place='salle']{
                    transform: scale(3) translateX(-30%);
                    transition: opacity .8s ease-in-out, transform 4s ease-in-out .5s;
                    filter: blur(0px);
                }
                [data-place='salle'].opaque{
                    transform: scale(1.5) translateX(15%);
                }
            }
            .slide-info{
                padding:1em 1em 1em 0;
                width: 50%;
                height: 100%;
                display: flex;
                flex-direction: column-reverse;
                position: relative;
                .steps{
                    position:absolute;
                    top:25%;
                    left:-10%;
                    opacity:0;
                    transition: opacity 1s ease-in-out;
                    text-align: center;
                    width: 100%;
                    p{
                        font-family: $font1; 
                        margin: 1em 0;
                        i{
                          font-size: 2.7rem; 
                          text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5); 
                        }
                    }
                    span{
                        font-size: 1.2rem;
                        font-weight: 400;
                        display: none;
                        color: rgba(124, 124, 122, 1);
                    }

                    .active{
                        display: inline-block;
                        animation: active .8s ease-out 0s forwards;
                    }
                    @keyframes active {
                        0%{
                            opacity:0;
                            transform: translateX(20px);
                        }
                        50%{
                            opacity: 0.2;
                        }
                        100%{
                            transform: translateX(0);
                            opacity:1
                        } 
                    }
                }
                .map-container{
                    position:absolute;
                    top:21%;
                    height:50%;
                    width: 80%;
                    opacity: 0;
                    margin:1em;
                    transition: opacity 1s ease-in-out;
                    #map-mairie{
                        height: 100%;
                        width: 100%;
                        border-radius: 10px;
                        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                    }
                }
                .info-reveal{
                    opacity: 1;
                }
                .info-btn{
                    display: flex;
                    align-self: flex-end;
                    margin: 2.5em 1em;
                    z-index: 2;
                    .show{
                        padding:.1em;
                        margin:0 .6em ;
                        width:2.5em;
                        height: 2.5em;
                        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                        border-radius: 8px;
                        display:flex;
                        justify-content: center;
                        align-items: center;
                        cursor: pointer;
                        transition: background-color .2s ease-in-out;
                        i{
                            font-size: 30px;
                            color:rgba(124, 124, 122, 1);
                            pointer-events: none;
                        }
                    }
                }
                
            }
        }
    }
    .dot-container{
        position: absolute;
        bottom: -10%;
        left: 50%;
        transform: translateX(-50%);

        .dot {
            cursor: pointer;
            height: 15px;
            width: 15px;
            margin: 0 2px;
            background-color: #bbb;
            border-radius: 50%;
            display: inline-block;
            transition: background-color 0.6s ease;
        }
        
        .dot:hover {
            background-color: #717171;
        }
    }   
}

.fourth-section{
    height: 100vh;
    background-color: white;
    opacity: 0.7;
    display: flex;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
    background-image: url("../images/Love.jpg");

    .registration{
        width:45%;
        height:80%;
        background-color: white;
        opacity: 0.85;
        padding:1.5em 5%;
        display: flex;
        flex-direction: column;
        align-items: center;
        visibility: visible !important;

        h1{
            font-size: 1rem;
            width: 100%; 
            text-align: center; 
            border-bottom: 3px solid #000; 
            line-height: 0.1em;
            margin: 3em 0 1em;
            &:first-of-type{
                margin-top: 1em;
            }
            span { 
                background:#fff; 
                padding:0 10px; 
            }
        }
        

        .input-container{
            position: relative;
            padding: 30px 0 0;
            width:100%;
        }
        .name-section{
            display: flex;
            justify-content: space-between;
            width: 100%;
            .input-container{
                width: 40%;
            }
        }
        .presence-section{
            display: flex;
            width: 100%;
            .input-container{
                width: 25%;
                margin-right: 3em;
                input{
                    text-align: center;
                }
            }
        }
        label{
            font-family: $font1;
            font-weight: 700;
            align-self: flex-start;
            font-size: 1rem;
            position: absolute;
            top: 15px;
            display: block;
            transition: 0.2s;
            color:darkgray;
        }
        input, textarea{
            width: 100%;
            height: 2em;
            font-family: $font1;
            font-weight: 300;
            font-size:.8rem;
            padding:7px 0;
            border: 0;
            border-bottom: 2px solid darkgray;
            outline: none;
            opacity:0.8;
            background: transparent;
            transition: border-color 0.2s, height 0.2s;
            &::placeholder{
                color:transparent;
            }
            &:placeholder-shown ~ .label{
                font-size: 1rem;
                cursor: text;
                top: 30px;
            }
        }
        textarea{
            height: 2.5em;
        }
        textarea:focus{
            height: 4em;
        }
        input:focus, textarea:focus{
            ~ .label {
              position: absolute;
              top: 15px;
              display: block;
              transition: 0.2s;
              font-size: 1rem;
              color: black;
              font-weight:700;    
            }
            font-weight: 700;
            border-width: 3px;
            border-image: linear-gradient(to right, rgba(0,0,255,0.25),rgba(255,0,0,0.25));
            border-image-slice: 1;
          }

        .btn{
            padding: .5em 2em;
            font-size: 1.5rem;
            cursor: pointer;
            position: relative;
            border: 3px solid rgba(247, 170, 206, 1);
            outline: none;
            color: rgba(247, 170, 206, 1);
            background-color: transparent;
            margin: 1.8em 2em 0;
            font-family: $font1;
            font-weight: 700;
            white-space: nowrap;
            transition: border-color 0.5s ease, color 0.5s ease ;
            &--future {
                &::after, &::before {
                    content: "";
                    position: absolute;
                    border: 3px solid rgba(247, 170, 206, 1);
                    width: calc(100% + 15px);
                    height: 60px;
                    transition: 0.5s ease;
                }
                &::after {
                    top: -15px;
                    left: -15px;
                    border-right: none;
                    border-bottom: none;
                }
                &::before {
                    bottom: -15px;
                    right: -15px;
                    border-left: none;
                    border-top: none;
                }
                &:hover:after, &:hover:before {
                    width: calc(100% - 30px);
                    height: 80px;
                    border-color: rgba(90, 178, 179, 0.8);
                }
                &:hover{
                    color: rgba(90, 178, 179, 0.8);
                    border-color: rgba(90, 178, 179, 0.8);
                }
            }
        }
    }
    .registration-hide{
        animation: scale-down 2s forwards
    }
    @keyframes scale-down {
        from{
            transform: scaleY(100%) scaleX(100%);
            opacity: 0.85;
        }
        to{
            transform: scaleY(0%) scaleX(0%);
            opacity: 0;
        }
    }
    .confirmation{
        width:50%;
        height:70%;
        background-color: white;
        padding:1.5em 5%;
        display: none;
        transform: scaleX(0%) scaleY(0%);
        position: relative;
        font-family: $title-font;
        img{
            width:100%;
            height: 100%;
            position: absolute;
            top:50%;
            left:50%;
            transform: translate(-50%,-50%);
        }
        .confirmation-text{
            width:70%;
            height:60%;
            display:flex;
            justify-content: center;
            flex-direction: column;
            position: absolute;
            top:50%;
            left:50%;
            transform: translate(-50%,-55%);
            font-weight: lighter;
            text-align: center;
            h1{
                font-size: 1.5rem;
                color:#E2E390;
                margin:1em;
            }
            h2{
                margin:1em;
                font-size:1.2rem;
                color:#9CD9DA;
            }
        }

    }
    @keyframes scale-up {
        from{
            transform: scaleY(0%) scaleX(0%);
            opacity: 0; 
        }
        to{
            transform: scaleY(100%) scaleX(100%);
            opacity: 0.85;
        }
    }
    
}

[aos="fade"] {
    opacity: 0;
    transition-property: opacity;
}

[aos="fade"].aos-animate {
    opacity: 0.85;
}

