{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notre Mariage</title>
    <link rel="stylesheet" href="{% static 'main/style/main.css' %}"> 
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    
</head>



<body>
    <!-- <img src="{% static 'main/images/background.png' %}" alt="" class="background"> -->
    <section class="first-section">  
        {% include 'main/svg.html' %}    
    </section>
    <section class="second-section">
        <div class="info blue">
            <img src="{% static 'main/images/photo1.png' %}" data-aos="fade-right">
            <div class="description" data-aos="fade-left">
                <h2>Lorem Ipsum</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc arcu, in malesuada feugiat ut dictum. Vulputate ornare ultricies nunc pharetra adipiscing urna, posuere.</p>
            </div>
        </div>
        <div class="info pink">
            <div class="description" data-aos="fade-right">
                <h2>Lorem Ipsum</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc arcu, in malesuada feugiat ut dictum. Vulputate ornare ultricies nunc pharetra adipiscing urna, posuere.</p>
            </div>
            <img src="{% static 'main/images/photo2.png' %}" data-aos="fade-left">
        </div>
    </section>
    <section class="third-section">
        <div class="registration" data-aos="slide-up" data-aos-easing="ease-in-out" data-aos-duration="1800">
            <h1><span>Infos personnelles</span></h1>
            <div class="input-container">
                <input placeholder="Adresse e-mail*" type="text" name="email" id="email">
                <label for="email" class='label'>Adresse e-mail*</label>
            </div>   
            <div class="name-section">
                <div class="input-container">
                    <input placeholder="Nom*" type="text" name="nom" id="nom">
                    <label for="nom" class='label'>Nom*</label>
                </div>
                <div class="input-container">
                    <input placeholder="Prénom*" type="text" name="prénom" id="prénom">
                    <label for="prénom" class='label'>Prénom*</label>
                </div>
            </div>
            <h1><span>Nombre de personnes</span></h1>
            <div class="presence-section">
                <div class="input-container">
                    <input placeholder="Adulte(s)*" type="number" name="adultes" min="1" id="adultes">
                    <label for="adultes" class='label'>Adulte(s)*</label>
                </div>
                <div class="input-container">
                    <input placeholder="Enfant(s)" type="number" min="0" name="enfants" id="enfants">
                    <label for="enfants" class='label'>Enfant(s)</label>
                </div>
            </div>
               <div class="input-container">
                    <textarea placeholder="Message" rows="4" name="message" id="message"></textarea>
                    <label for="message" class='label'>Message</label>
                </div>
                
            <button class="btn btn--future">Confirmer votre présence</button>
        </div>
        
    </section>
    
    <script type="text/javascript" src="{% static 'main/js/main.js' %}"></script>

    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init({
            duration: 1200,
        });   
    </script>
</body>
</html>
    