{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notre Mariage</title>
    <link rel="stylesheet" href="{% static 'main/style/main.css' %}"> 
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Round">  
    
   
    <script src="{% static 'main/js/rellax.min.js' %}"></script>
    <script>
        // Accepts any class name
        var rellax = new Rellax('.rellax');
        function mediaQuery(x) {
            if (x.matches) { // If media query matches
                rellax.destroy(); 
            }
        }
        var x = window.matchMedia("(max-width: 950px)")
        mediaQuery(x) // Call listener function at run time
        x.addListener(mediaQuery) // Attach listener function on state changes 
    </script>
</head>

<body> 
    <script>
        document.body.classList.add('js-loading');
        document.body.classList.add("disable-scroll");

        window.addEventListener("load", showPage);

        function showPage() {document.body.classList.remove('js-loading');}
        document.querySelectorAll('#kévin, #annaelle, #et, #group').forEach(element => element.addEventListener('animationend', endAnimation));
        document.querySelector('#kévin').addEventListener('animationend',function(){document.body.classList.remove("disable-scroll")})

        function endAnimation(){this.style.opacity='1'}
    </script>
    <!-- <img src="{% static 'main/images/background.png' %}" alt="" class="background"> -->
    <section class="first-section" class="rellax" data-rellax-speed="-2">  
        {% include 'main/svg.html' %}    
    </section>
    <section class="second-section">
        <div class="info blue">
            <img src="{% static 'main/images/Photo1.png' %}" data-aos="fade-right">
            <div class="description" data-aos="fade-left">
                <h2>Lorem Ipsum</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc arcu, in malesuada feugiat ut dictum. Vulputate ornare ultricies nunc pharetra adipiscing urna, posuere.</p>
            </div>
        </div>
        <div class="info pink">
            <div class="description" data-aos="fade-right">
                <h2>Lorem Ipsum</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc arcu, in malesuada feugiat ut dictum. Vulputate ornare ultricies nunc pharetra adipiscing urna, posuere.</p>
            </div>
            <img src="{% static 'main/images/Photo2.png' %}" data-aos="fade-left">
        </div>
    </section>

    <section class="third-section">
        <div class="third-background">
            <a class="prev" onclick="plusSlides(-1)" data-aos="slide-right" data-aos-mirror="false">&#10094;</a>
  
            <h1>27 &#183 Août &#183 2021</h1>
            <div class="slider" data-aos="zoom-in-up" data-aos-anchor-placement="top-center">
                <div class="slide-label">Mairie</div>
                <div class="slide-image">
                    <img class='opaque' src="{% static 'main/images/Mairie.jpg' %}" data-place='mairie' />
                    <img src="{% static 'main/images/Eglise.jpg' %}" data-place='eglise'/>
                    <img src="{% static 'main/images/JardinCreole.jpg' %}" data-place='salle'/>
                </div>
                <div class="slide-info">
                    <div class="steps info-reveal">
                        <p><i class="material-icons-round">place</i><br><span class='active' data-show='mairie'>Hôtel de Ville de Saint-Denis</span><span data-show='eglise'>Eglise de Saint-Jacques</span><span data-show='salle'>Jardin Créole</span></p>
                        <p><i class="material-icons-round">alarm</i><br><span class='active' data-show='mairie'>13 : 00</span><span data-show='eglise'>15 : 00</span><span data-show='salle'>19 : 00</span></p>
                    </div>
                    <div class="map-container">
                        <div id='map-mairie' class='activeMap' data-show='mairie'></div>
                        <div id='map-eglise' data-show='eglise'></div>
                        <div id='map-salle' data-show='salle'></div>
                    </div>
                    <div class="info-btn">
                        <div class="show text" onclick="showInfo(event)"><i class="material-icons-outlined">info</i></div>
                        <div class="show map" onclick="showMap(event)"><i class="material-icons-outlined">map</i></div>
                    </div>
                </div>
                
                <div class="dot-container">
                    <span class="dot" onclick="currentSlide(1)"></span>
                    <span class="dot" onclick="currentSlide(2)"></span>
                    <span class="dot" onclick="currentSlide(3)"></span>
                </div> 
            </div>
            
            <a class="next" onclick="plusSlides(1)" data-aos="slide-left" data-aos-mirror="false">&#10095;</a> 
            
        </div>
                
    </section>


    <section class="fourth-section">
        <div class="registration" data-aos="slide-up" data-aos-easing="ease-out" data-aos-duration="1200">
            <h1><span>Infos personnelles</span></h1>
            <div class="input-container">
                <input placeholder="Adresse e-mail*" type="text" name="email" id="email">
                <label for="email" class='label'>Adresse e-mail*</label>
            </div>   
            <div class="name-section">
                <div class="input-container">
                    <input placeholder="Nom*" type="text" name="nom" id="nom">
                    <label for="nom" class='label'>Nom*</label>
                </div>
                <div class="input-container">
                    <input placeholder="Prénom*" type="text" name="prénom" id="prénom">
                    <label for="prénom" class='label'>Prénom*</label>
                </div>
            </div>
            <h1><span>Nombre de personnes</span></h1>
            <div class="presence-section">
                <div class="input-container">
                    <input placeholder="Adulte(s)*" type="number" name="adultes" min="1" id="adultes">
                    <label for="adultes" class='label'>Adulte(s)*</label>
                </div>
                <div class="input-container">
                    <input placeholder="Enfant(s)" type="number" min="0" name="enfants" id="enfants">
                    <label for="enfants" class='label'>Enfant(s)</label>
                </div>
            </div>
               <div class="input-container">
                    <textarea placeholder="Message" rows="4" name="message" id="message"></textarea>
                    <label for="message" class='label'>Message</label>
                </div>
                
            <button onclick="confirmation()" class="btn btn--future">Confirmer votre présence</button>
        </div>
        <div class="confirmation">
            <img src="{% static 'main/images/cadre-confirmation.png' %}" alt="">
            <div class="confirmation-text">
                <h1>Ta réponse a bien été reçue.</h1>
                <h2>Tu vas recevoir un email de confirmation.</h2>
                <h1>A très bientôt!</h1>
            </div>
        </div>
        
    </section>
    
    <script type="text/javascript" src="{% static 'main/js/main.js' %}"></script>

    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init({
            duration: 1200,
            anchorPlacement:'center-bottom',
            mirror:true,
        });   
    </script>
    <script defer src="https://maps.googleapis.com/maps/api/js?key=API_KEY&map_ids=17a2994719f5f1cc"></script>
    
</body>
</html>
    